<div>
    <h2 id="page-heading">
        <span>Indisponibilites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-indisponibilite" [routerLink]="['/indisponibilite/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Indisponibilite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="indisponibilites">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date Debut</span></th>
            <th><span>Duree</span></th>
            <th><span>Formateur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let indisponibilite of indisponibilites ;trackBy: trackId">
                <td><a [routerLink]="['/indisponibilite', indisponibilite.id, 'view' ]">{{indisponibilite.id}}</a></td>
                <td>{{indisponibilite.dateDebut | date:'mediumDate'}}</td>
                <td>{{indisponibilite.duree}}</td>
                <td>
                    <div *ngIf="indisponibilite.formateur">
                        <a [routerLink]="['../formateur', indisponibilite.formateur?.id, 'view' ]" >{{indisponibilite.formateur?.nom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/indisponibilite', indisponibilite.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/indisponibilite', indisponibilite.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'indisponibilite/'+ indisponibilite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
