<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div *ngIf="cursus">
                <h2><span>Cursus</span> {{cursus.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span>Date Debut</span></dt>
                    <dd>
                        <span>{{cursus.dateDebut}}</span>
                    </dd>
                    <dt><span>Duree</span></dt>
                    <dd>
                        <table class="table ">
                            <tr *ngFor="let module of cursus.modules">
                                <td> cursus de {{cursus.duree}} jours</td>
                            </tr>
                        </table>
                    </dd>
                    <dt><span>Gestionnaire</span></dt>
                    <dd>
                        <div *ngIf="cursus.gestionnaire">
                            <a [routerLink]="['/gestionnaire', cursus.gestionnaire?.id, 'view']">{{cursus.gestionnaire?.nom}}</a>
                        </div>
                    </dd>
                    <dt><span>Modules</span></dt>
                    <dd>
                        <table class="table ">
                            <tr *ngFor="let module of cursus.modules">
                                <td> module de {{module.matiere.titre}}, enseigne par {{module.formateur.nom}}</td>

                            </tr>
                        </table>
                    </dd>
                </dl>

                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                </button>

                <button type="button"
                        [routerLink]="['/cursus', cursus.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                </button>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Mois</th>
            <th colspan="2">Date</th>
            <th>Module</th>
            <th>Formateur</th>
            <th>Titres</th>
        </tr>

        <tr *ngFor="let date of listDate">
            <th scope="row">Janvier{{date}}</th>
            <!--<td>Jeudi jour{{date_affichage | date: 'EEEE'}}</td>
            <td>19 date{{date_affichage | date: 'dd'}}</td>
            <td>Java Module</td>
            <td>olivier</td>
            <td>JavaEE</td>-->


        </tr>
    </table>
    <style>
        table, th, td {
            border: 0.5px solid black;
        }
    </style>

</div>
