<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stagiaire-heading">Create or edit a Stagiaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stagiaire.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stagiaire.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="stagiaire.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="stagiaire.prenom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="stagiaire.numero" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rue">Rue</label>
                    <input type="text" class="form-control" name="rue" id="field_rue"
                        [(ngModel)]="stagiaire.rue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codePostal">Code Postal</label>
                    <input type="number" class="form-control" name="codePostal" id="field_codePostal"
                        [(ngModel)]="stagiaire.codePostal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                        [(ngModel)]="stagiaire.ville" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroTelephone">Numero Telephone</label>
                    <input type="number" class="form-control" name="numeroTelephone" id="field_numeroTelephone"
                        [(ngModel)]="stagiaire.numeroTelephone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eMail">E Mail</label>
                    <input type="text" class="form-control" name="eMail" id="field_eMail"
                        [(ngModel)]="stagiaire.eMail" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_niveau">Niveau</label>
                    <select class="form-control" name="niveau" [(ngModel)]="stagiaire.niveau" id="field_niveau" >
                        <option value="DEBUTANT">DEBUTANT</option>
                        <option value="INTERMEDIAIRE">INTERMEDIAIRE</option>
                        <option value="AVANCE">AVANCE</option>
                        <option value="EXPERT">EXPERT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ordinateur">Ordinateur</label>
                    <select class="form-control" id="field_ordinateur" name="ordinateur" [(ngModel)]="stagiaire.ordinateur" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordinateurOption.id === stagiaire.ordinateur?.id ? stagiaire.ordinateur : ordinateurOption" *ngFor="let ordinateurOption of ordinateurs; trackBy: trackOrdinateurById">{{ordinateurOption.code}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cursus">Cursus</label>
                    <select class="form-control" id="field_cursus" name="cursus" [(ngModel)]="stagiaire.cursus" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cursusOption.id === stagiaire.cursus?.id ? stagiaire.cursus : cursusOption" *ngFor="let cursusOption of cursuses; trackBy: trackCursusById">{{cursusOption.dateDebut}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
