<div>
    <h2 id="page-heading">
        <span>Matieres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-matiere" [routerLink]="['/matiere/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Matiere
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="matieres">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Titre</span></th>
            <th><span>Objectifs</span></th>
            <th><span>Prerequis</span></th>
            <th><span>Contenu</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matiere of matieres ;trackBy: trackId">
                <td><a [routerLink]="['/matiere', matiere.id, 'view' ]">{{matiere.id}}</a></td>
                <td>{{matiere.titre}}</td>
                <td>{{matiere.objectifs}}</td>
                <td>{{matiere.prerequis}}</td>
                <td>{{matiere.contenu}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/matiere', matiere.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/matiere', matiere.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'matiere/'+ matiere.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
